body{
    
    font: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0
}

*{
    box-sizing: border-box
}
#container {
    width: 90%;
    /*border: 1px solid grey;*/
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column
}

h1 a{
    font-size: 45px;
    font-weight: 100;
    color: mediumpurple;
    text-decoration: none
}


#searchBox {
   /* float: right; */
    background: linear-gradient(#E4F2B9, #B7E953);
     background: -webkit-linear-gradient(#E4F2B9, #B7E953);
     background: -o-linear-gradient(#E4F2B9, #B7E953);
     background: -moz-linear-gradient(#E4F2B9, #B7E953);
    min-width: 400px;
/*    width: 400px;*/
    /*height: 50px;*/
    padding: 20px;
/*    margin-top: 20px;*/
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}



#brand {
   /* float: left;*/
    flex: 50%;
    min-width: 400px
}

#header {
/*    height: 100px;*/
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap
}

.text {
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 12px;
    color: orangered;
    background: white url(images/LogoMakr_1Mz4Af.png) right center no-repeat;
    border: 1px solid #E0DF52
}
.submit {
   float: right; 
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    background: pink
}

.clear {
    clear: both
}

ul {
    list-style: none
}

#menu a{
/*    float: left;*/
    padding: 0px 30px;
    height: 30px;
    border-right: 1px solid #B314DB;
   
    
    
    }

#menu {
/*    height: 70px;*/
    background: linear-gradient(#F8F594, #D5D533);
    background: -webkit-linear-gradient(#F8F594, #D5D533);
    background: -o-linear-gradient(#F8F594, #D5D533);
    background: -moz-linear-gradient(#F8F594, #D5D533);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    
   
   
}

#menu a{
    font-size: 18px;
    text-decoration: none;
    color: #B314DB;
    line-height: 30px;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
     
    
    
}


#menu a:last-child{
    border-right: none;

}

#menu a:hover,#menu a.active{
     color: #B314DB;
    font-size: 20px;
    font-weight: bold;
    
}

#menu a:first-child{
    color: #B314DB;
    font-weight: bold;
}

/*for small screens*/

@media screen and (max-width:700px){
    #menu{
        flex-direction: column;
        justify-content: center;
        align-content: center;
        
        
    }
    #menu a{
        border-right: none
    }
    
    #foot{
        justify-content: center;
        align-content: center;
        
        
    }
}


#introduction {
    
    background: linear-gradient(#E4F2B9, #B7E953);
    background: -webkit-linear-gradient(#E4F2B9, #B7E953);
    background: -o-linear-gradient(#E4F2B9, #B7E953);
    background: -moz-linear-gradient(#E4F2B9, #B7E953);
    padding: 30px;
    margin-top: 15px;
    margin-bottom: 15px
}

#introduction h1 {
    font-size: 40px;
    color: #316901;
    font-weight: normal
}

#introduction p {
    font-size: 20px;
    color: #628F19;
    font-weight: normal;
    text-align: justify
}

/*
#leftsidebar {
    float: left;
    flex: 50%
}
*/




#leftsidebar ul li{
    
    list-style-image: url(images/arrow.png);
    padding: 4px 0px 4px 10px
}

/*#leftsidebar ul li {
    
    padding:4px;
    font-weight: normal;
    font-size: 18px;
    
    
}
#leftsidebar ul li a{
    
    text-decoration: none;
    color: blue;
     transition: font-size 1s ease;
}
#leftsidebar ul li a:hover{
    color: #B314DB;
    font-size: 23px;
    font-weight: bold;
}*/

.side{
    display: flex;
    flex-wrap: wrap
}

.sidebarwrapper{
    flex: 50%;
    padding: 5px
}


.sidebar {
    width: 100%;
    height: 100%;
/*    min-width: 250px;*/
    
    border: 1px solid #B7E953;
    padding: 20px;
    border-radius: 20px;
   
    
    
}

.sidebar ul{
    padding-top: 8px
}


/*
#rightsidebar {
    float: right;
    flex: 50%;
 
}
*/

#rightsidebar ul li {
    
    padding:17px 0px 17px 70px;  
    background: url(images/tick.png) no-repeat left center
    
}
.sidebar ul li a{
    
    text-decoration: none;
    font-size: 20px;
    color: blue;
     -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
    
}
.sidebar ul li a:hover, .sidebar ul li a.active{
    color: #B314DB;
    font-size: 23px;
    font-weight: bold;
    text-decoration: none
}

.sidebar h1 {
    color: #B314DD;
   
}
.footer{
    height: 60px;
    background: linear-gradient(#F6F390, #D5D533);
    background: -webkit-linear-gradient(#F6F390, #D5D533);
    background: -o-linear-gradient(#F6F390, #D5D533);
    background: -moz-linear-gradient(#F6F390, #D5D533);
    padding: 10px 30px;
    margin-top: auto
}

